body {
    background-repeat: no-repeat;
    background-image: url('../background1.png');
    background-repeat: repeat;
}

.company-bio {
    min-height: calc(100vh - 60px);
    padding: 10% 15% 0;
    box-sizing: border-box;
    font-size: 1.4em;
    line-height: 1.6em;
    text-align: justify;
}

.developer {
    width: auto;
    height: 500px;
    background-color: rgb(18,69,89,0.5);
    color: #fff;
    margin: 0 65px 20px;
    border-radius: 15px 50px;
    clear: both;
    overflow: hidden;
    text-shadow: 0px 0px 5px #1a2424;
}

.developer__info {
    height: 500px;
    width: 50%;
}

.developer__bio {
    font-size: 1.4em;
    line-height: 1.6em;
    text-align: justify;
}

.left {
    float: left;
    margin: 50px 0 0 10%;
}

.right {
    float: right;
    margin: 50px 10% 0 0;
}

.float-left1 {
    width: 350px;
    height: 350px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 60px;
    float: left;
    border-radius: 50%;
    background-image: url(../me.jpg);
    background-size: cover;
    background-position: center;
    border: solid #23ce6b 5px;
    
}

.float-left2 {
    width: 350px;
    height: 350px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 60px;
    float: left;
    border-radius: 50%;
    background-image: url(../IMG_5039.JPG);
    background-size: cover;
    background-position: center;
    border: solid #23ce6b 5px;
    
}

.float-right {
    width: 350px;
    height: 350px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 60px;
    float: left;
    border-radius: 50%;
    background-image: url(../IMG_5021.JPG);
    background-size: cover;
    background-position: center;
}
