body {
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    color: #1a2424; 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url('../background1.png');
    background-repeat: repeat;
}

nav {
    width: 100%; 
    background-color: #124559;
    height: 60px;
    text-align: center;
    color: #fff; 
    box-sizing: border-box;
}

nav h1 {
    width: 100px; 
    float: left;
    margin-bottom: 11px;
}

nav a {
    float: right; 
    margin: 20px 10px; 
    text-decoration: none; 
    color: #fff;
}

nav a:hover {
    color: #999;
}

.company-bio {
    min-height: calc(100vh - 60px);
    padding: 10% 15% 0;
    box-sizing: border-box;
    font-size: 1.4em;
    line-height: 1.6em;
    text-align: justify;
}

.developer {
    width: auto;
    height: 500px;
    background-color: rgb(18,69,89,0.5);
    color: #fff;
    margin: 0 65px 20px;
    border-radius: 15px 50px;
    clear: both;
    overflow: hidden;
    text-shadow: 0px 0px 5px #1a2424;
}

.developer__info {
    height: 500px;
    width: 50%;
}

.developer__bio {
    font-size: 1.4em;
    line-height: 1.6em;
    text-align: justify;
}

.left {
    float: left;
    margin: 50px 0 0 10%;
}

.right {
    float: right;
    margin: 50px 10% 0 0;
}

.float-left1 {
    width: 350px;
    height: 350px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 60px;
    float: left;
    border-radius: 50%;
    background-image: url(../me.jpg);
    background-size: cover;
    background-position: center;
    border: solid #23ce6b 5px;
    
}

.float-left2 {
    width: 350px;
    height: 350px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 60px;
    float: left;
    border-radius: 50%;
    background-image: url(../IMG_5039.JPG);
    background-size: cover;
    background-position: center;
    border: solid #23ce6b 5px;
    
}

.float-right {
    width: 350px;
    height: 350px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 60px;
    float: left;
    border-radius: 50%;
    background-image: url(../IMG_5021.JPG);
    background-size: cover;
    background-position: center;
    border: solid #23ce6b 5px;
}

footer {
    background-color: #124559; 
    margin-top: 15px; 
    padding: 20px 5px; 
    width: auto;
    height: auto; 
    color: #fff;
    clear: both;
    text-align: center;
    overflow: hidden;
}

footer h1 {
    text-align: center;
}

footer li {
    list-style: none; 
    margin-left: 15px; 
}

.footer-section {
    height: 200px;
    background-color: transparent;
    float: left; 
    box-sizing: border-box;
}


