.filter-bar {
  background-color: #124559;
  margin: 0;
  list-style: none;
}

.filter-by {
  display: inline-block;
}

.hide {
  display: none;
}
select {
  margin-left: 25px; 
  width: 200px; 
  height: 30px; 
}