h1,
h2 {
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #555;
}

.post-job-form {
    max-width: 1000px;
    margin: 0 auto 30px;
    clear: both;
    overflow: hidden;
}

.input-container {
    box-sizing: border-box;
}

.top-four-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 60%;
    margin: auto;
    justify-items: center;
}

.top-four-inputs .input-container {
    margin-bottom: 30px;
}

.top-four-inputs .post-job-form__label,
.top-four-inputs .post-job-form__input {
    display: block;
}

.textarea {
    margin-bottom: 30px;
}

.textarea .post-job-form__label,
.textarea .post-job-form__textarea {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.compensation-container,
.reimbursement-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 60%;
    margin: 30px auto;
}

.sponsored-check-container {
    width: 220px;
    margin: 0 auto 30px;
}

.post-job-form__input,
.post-job-form__textarea,
.compensation-frequency,
.reimbursement-frequency {
    border: 2px solid #124559;
    border-radius: 5px;
    box-sizing: border-box;
}

.post-job-form__label {
    padding-bottom: 10px;
}

.post-job-form__input {
    padding-left: 10px;
    height: 30px;
}

.post-job-form__textarea {
    height: 180px;
    padding: 10px 0 0 10px;
}

.post-job-form__input:focus,
textarea:focus,
.compensation-frequency:focus,
.reimbursement-frequency:focus {
    border: 2px solid #23ce6b;
}

.button {
    background-color: #2bA84a;
    width: 200px; 
    height: 50px; 
    border-radius: 5px; 
    color: #fff; 
    font-size: 16px; 
    margin: auto;
    border: none;
    display: block;
}

.button:hover{
    background-color: #23ce6b;
}