body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #1a2424;
    margin: 0;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #555;
}

.button {
    background-color: #2bA84a;
    border: 1px solid #fff; 
    width: 200px; 
    height: 50px; 
    border-radius: 5px; 
    color: #fff; 
    font-size: 16px; 
    margin: auto;
}

.button:hover{
    background-color: #23ce6b;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

nav {
    width: 100%; 
    background-color: #124559;
    height: 60px;
    text-align: center;
    color: #fff;
}

nav h1 {
    width: 100px; 
    float: left; 
}

nav a {
    float: right; 
    margin: 24px 10px; 
    text-decoration: none; 
    color: #fff; 
}

nav a:hover {
    color: #999;
    
}

.post-job-form {
    
}

.post-job-form__input:focus,
textarea:focus,
.payInput:focus {
    border: 2px solid #23ce6b;
    outline: none; 
}