body {
    background-image: url("../img/background-img.png");
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header {
    clear: both;
    overflow: hidden;
    height: 500px; 
    color: #fff; 
    position: relative;
}

header button {
    background-color: #23ce6b;
    border: 1px solid #fff; 
    width: auto;
    width: 200px; 
    height: 50px; 
    border-radius: 5px; 
    color: #fff; 
    font-size: 16px;
}

header button:hover {
    background-color: rgba(35, 206, 106, 0.678);
    border: 1px solid #fff; 
    width: auto;
    width: 200px; 
    height: 50px; 
    border-radius: 5px; 
    color: #fff; 
}

header h1 {
    color: #fff; 
    font-size: 38px;
}

header section {
    width: 59%;
    height: 400px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.header-img {
    float: left;
    width: 40%;
    margin-top: 100px;
    height: 350px;
    box-sizing: border-box;
}

header img{
    max-width: 100%; 
    height: auto;
}

.half {
    width: 50%; 
    float: left; 
    box-sizing: border-box;
}

.third {
    width: 33.33%;
    background-color: #fff; 
    float: left; 
    box-sizing: border-box;
}

.left {
    float: left; 
}

.fifth {
    width: 20%; 
    box-sizing: border-box;
}

.sponsored h1 {
    text-transform: capitalize;
}

.sponsored-job-wrapper{
    background-color: #124559;
}
.job-wrapper{
    padding-top: 15px;
    background-color: #e4e9f1;
}
.job-cards-heading {
    background-color: #124559;
    color: #fff; 
}

.job-cards-heading {
    text-align: center;
    margin: 0;
    padding: 15px 0 0;
}

.sponsored {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    padding-top: 15px;
    height: 300px;
}

.job {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    column-count: 3;
    padding-bottom: 30px;
}

.card-container {
    margin-bottom: 15px;
}

.card {
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
}

.card h1 {
    text-transform: capitalize;
    font-size: 25px;
    text-decoration: underline;
}

.card h2 {
    text-transform: capitalize;
}

.card p {
    font-size: 15px;
    margin: 5px 0;
}
.card a {
    color: #2ba84a;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.card-container,
.card-front,
.card-back {
    height: 250px;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    transition: all 1s ease;
}

.card-back {
    transform: translateY(-250px) rotateY(180deg);
}

.sponsored-job {
    width: 32.5%;
    float: left;
}

.sponsored-job:nth-child(2) {
    margin: 0 1.25%;
}

.fa-ad {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #124559;
    }
    header {
        height: 350px;
    }
    header section {
        width: 100vw;
    }
    .header-img {
        visibility: hidden;
    }
    .third {
        width: 100vw; 
    }
    .sponsored-job {
        width: 90vw;
    }
    .job {
        column-count: 1; 
    }
    footer {
        height: auto; 
    }
  }

.card div {
    margin-bottom: 15px;
    color: #124559;
}

.card div > * {
    display: inline;
}

.city {
    margin-left: 10px;
    color: #777; 
    font-size: 14px; 
}
.pay {
    color: #2ba84a;
    font-size: 20px;
}