
body {
    background-image: url("../background-img.png");
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    color: #1a2424; 
    overflow-x: hidden;
}
nav {
width: 100%; 
background-color: transparent;
height: 60px;
text-align: center;
color: #fff; 
}
nav h1 {
    /* display: inline-block; */
    width: 100px; 
    float: left; 
}
nav a {
    float: right; 
    margin: 24px 10px; 
    text-decoration: none; 
    color: #fff; 
}
nav a:hover {
    color: #999;

}
header {
    clear: both;
    overflow: hidden;
    height: 400px; 
    color: #fff; 
}
header button {
    
    background-color: #23ce6b;
    border: 1px solid #fff; 
    width: auto;
    width: 200px; 
    height: 50px; 
    border-radius: 5px; 
    color: #fff; 
    font-size: 16px; 
}
header button:hover {
    background-color: transparent;
    border: 1px solid #fff; 
    width: auto;
    width: 200px; 
    height: 50px; 
    border-radius: 5px; 
    color: #fff; 
}
header h1 {
    color: #fff; 
    font-size: 38px;
}
header section {
    width: 59%;
    height: 350px;
    float: left;
    text-align: center;
    box-sizing: border-box;
}
.header-img {
    float: left;
    width: 40%;
    height: 350px;
    box-sizing: border-box;
}
header img{
max-width: 100%; 
height: auto; 
}
.half {
    width: 50%; 
    float: left; 
    box-sizing: border-box;
}

.third {
    width: 33.33%; 
    background-color: #fff; 
    float: left; 
    box-sizing: border-box;
}
.left {
    float: left; 
}
.fifth {
    width: 20%; 
    box-sizing: border-box;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
.sponsored {
    background-color: #fff;
    margin-top: 15px; 
    width: 100%;
    padding: 2px 5px; 
    text-align: center;
    padding: 5px 10px; 
    clear: both;
    overflow: hidden;
}
.sponsored h1 {
    text-transform: capitalize;
}
.job {
    margin-top: 15px; 
    background-color:  #d8d8d8;
    height: auto;
    text-align: center;
    clear: both;
    overflow: hidden;
}
.card {
font-family: 'Roboto Condensed', sans-serif;
text-align: left; 
border-radius: 5px; 
padding: 15px; 
}

.card h1 {
text-transform: capitalize;
font-size: 25px;
text-decoration: underline;
}

.card h2 {
text-transform: capitalize;

}

.card p {
font-size: 15px;
margin-top: -5px; 
}
.card a {
    color: #2ba84a;
    text-decoration: none; 
}
@media only screen and (max-width: 600px) {
    body {
        background-color: #124559;
    }
    header {
        height: auto; 
    }
    header section {
        width: 100vw;
    }
    .header-img {
        width: 100vw;
    }
    .third {
        width: 100vw; 
    }
    footer {
        height: auto; 
    }
  }

.card div {
    margin-bottom: 15px;
    color: #124559;
}

.card div > * {
    display: inline;
}

.city {
    margin-left: 10px;
    color: #777; 
    font-size: 14px; 
}
.pay {
    color: #2ba84a;
    font-size: 20px;
}
.apply {
 color: #2ba84a;
 font-size: 18px;
}

footer {
    background-color: #124559; 
    margin-top: 15px; 
    padding: 20px 5px; 
    width: 100%;
    height: auto; 
    color: #fff;
    clear: both;
    text-align: center;
    overflow: hidden;
}
footer h1 {
    text-align: center;
}
footer li {
    list-style: none; 
    margin-left: 15px; 
}

.footer-section {
    height: 200px;
    background-color: transparent;
    float: left; 
    box-sizing: border-box;
}
